<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>


<h2>Merge Articles</h2>
<% if current_user.admin? %> 
  <%= form_tag(:controller => 'admin/content', :action =>'merge', :method => 'post', :id => @article.id) do %>
    <%= label_tag(:merge_id, 'Article ID') %>
    <%= text_field_tag 'merge_id' %>
    <%= submit_tag 'Merge' %>
  <% end %>
<% end %>
